
[functions.send-checkout-email]
enabled = true
verify_jwt = true
import_map = "./functions/send-checkout-email/deno.json"
# Uncomment to specify a custom file path to the entrypoint.
# Supported file extensions are: .ts, .js, .mjs, .jsx, .tsx
entrypoint = "./functions/send-checkout-email/index.ts"
# Specifies static files to be bundled with the function. Supports glob patterns.
# For example, if you want to serve static HTML pages in your function:
# static_files = [ "./functions/send-checkout-email/*.html" ]

[functions.checkEmail]
enabled = true
verify_jwt = true
import_map = "./functions/checkEmail/deno.json"
# Uncomment to specify a custom file path to the entrypoint.
# Supported file extensions are: .ts, .js, .mjs, .jsx, .tsx
entrypoint = "./functions/checkEmail/index.ts"
# Specifies static files to be bundled with the function. Supports glob patterns.
# For example, if you want to serve static HTML pages in your function:
# static_files = [ "./functions/checkEmail/*.html" ]

[functions.notify-request-deletion]
enabled = true
verify_jwt = false
entrypoint = "./functions/notify-request-deletion/index.ts"

[functions.scrape-all-scheduled]
enabled = true
verify_jwt = false
entrypoint = "./functions/scrape-all-scheduled/index.ts"
